<section class="about-us">
    <div class="container">
        <h2>¿Quiénes Somos?</h2>
        <p>En <strong>Shirel</strong>, nos especializamos en crear zapatos únicos y elegantes para ese momento tan
            especial en la vida de cada novia. Con atención a cada detalle, diseñamos calzado que combina la comodidad y
            el estilo, haciendo que cada paso hacia el altar sea inolvidable.</p>
        <p>Nuestra misión es acompañarte en uno de los días más importantes de tu vida, brindándote la confianza y
            elegancia que mereces. Con materiales de alta calidad y un equipo apasionado por la moda, en
            <strong>Shirel</strong> encontrarás los zapatos perfectos para complementar tu vestido de ensueño.</p>
        <img src="/logo.png" alt="">
    </div>
</section>