
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Ejemplo</title>
    <link rel="stylesheet" href="footer.component.css"> <!-- Enlace al archivo CSS -->
</head>
<body>
    <footer class="footer">
    
        <div class="newsletter">
            <input type="email" placeholder="Email">
            <button>Enviar</button>
        </div>
        
        <h2>MEDIOS DE PAGO</h2>
        <div class="payment-methods">
            <img src="/visa.png" alt="Visa">
            <img src="/master.png" alt="Mastercard">
            <img src="/nativa.png" alt="Nativa">
            <img src="/naranja.png" alt="Naranja">
            <img src="/pagof.png" alt="Pago Fácil">
            <img src="/rapip.png" alt="Rapipago">
            <img src="/cenco.png" alt="cencosud">

            <!-- Añade más íconos según sea necesario -->
        </div>

        <h2>MEDIOS DE ENVÍO</h2>
        <div class="shipping-methods">
            <img src="correoo.png" alt="Correo Argentino">
        </div>
        
        <div class="legal-links">
            <p>Defensa de las y los consumidores. Para reclamos <a href="#">ingresa acá</a> / <a href="#">Botón de arrepentimiento</a></p>
        </div>
        
        <div class="powered-by">
            <p>creado con <img src="tiendaa.png" alt="Tiendanube"></p>
            <p>Copyright Accesorios Shirel - 2024. Todos los derechos reservados.</p>
        </div>
        
        <!-- Botón de WhatsApp flotante -->
        <div class="whatsapp-button">
            <a href="https://wa.me/542996723159" target="_blank">
                <img src="/wht.png" alt="WhatsApp">
            </a>
            
        </div>
        
    </footer>
</body>
</html>